{% extends 'header.html' %}
{% block body %}
	<div style="margin:15px;">
		<div class="row" id='upper_area' >
			<div class="col-lg-9">
				<b>Write A Post</b>
			</div>
			<div class="col-lg">
				<button class="heart" style="margin: 1px; border-style: none; border-radius: 20px; background: linear-gradient(to right, #9C27B0, #E040FB);color: white;">POST</button>
			</div>
			<div class="col-lg">
				<button class="heart" style="margin: 1px; border-style: none; border-radius: 20px; background: linear-gradient(to right, #9C27B0, #E040FB);color: white;" onclick="clear_post();">New Post</button>
			</div>
		</div>
		<div class="row">
			<div class='col-1' style="background-color: white;margin-left:15px;">
				<div class="dropdown">
    				<button class="heart" type="button" data-toggle="dropdown" style="margin: 1px; border-style: none; border-radius: 20px; background: linear-gradient(to right, #9C27B0, #E040FB);
    				color: white;">Tag Prof</button>
    				<div class="dropdown-menu" style="padding-left: 5px; ">
    					<button class="list_button" onclick="sendToDisplay(this,'tg_prof');">A.K. Das</button><br>
    					<button class="list_button" onclick="sendToDisplay(this,'tg_prof');">Choppella</button><br>
    					<button class="list_button" onclick="sendToDisplay(this,'tg_prof');">Pudi</button><br>
   					</div>
  				</div>
			</div>
			<textarea class='col tag_area' id='tg_prof' rows='1'></textarea>
		</div>
		<div class="row">
			<div class='col-1' style="background-color: white;margin-left:15px;">
				<div class="dropdown" >
    				<button class="heart" type="button" data-toggle="dropdown" style="margin: 1px; border-style: none; border-radius: 20px; background: linear-gradient(to right, #9C27B0, #E040FB);color: white;">Tag Lab</button>
    				<div class="dropdown-menu" style="padding-left: 5px; ">
    					<button class="list_button" onclick="sendToDisplay(this,'tg_lab');">CVIT</button><br>
    					<button class="list_button" onclick="sendToDisplay(this,'tg_lab');">SERC</button><br>
    					<button class="list_button" onclick="sendToDisplay(this,'tg_lab');">LSTM</button><br>
   					</div>
  				</div>
			</div>
			<textarea class='col tag_area' id='tg_lab' rows='1'></textarea>
		</div>
		<div class="row">
			<textarea id='post_content' rows='4' placeholder="What's New?"></textarea>
		</div>
	</div>
	<script type="text/javascript">
		function sendToDisplay(element,txt_area) {
			document.getElementById(txt_area).value = element.innerHTML;
		}
		function clear_post() {
			document.getElementById('tg_prof').value = '';
			document.getElementById('tg_lab').value = '';
			document.getElementById('post_content').value = '';
		}
	</script>
	{% block post %}
	{% endblock %}

{% endblock %} 